/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
*.gem
.bash_history
.bundle
.coverage
.env
.env.local
.pry_history
coverage
vendor
.git/
